<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Started in 1995, the Academy of Martial Arts & Personal Development has grown to become the area's largest martial art style training center.">
	<title>The Academy of Martial Arts</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="hcard">
    <img class="u-photo" src="https://res.cloudinary.com/dwjulenau/image/upload/f_auto,fl_lossy.progressive,q_auto:good/v1517672919/AMA/MAFA_Logo_For_Page_Template.gif" alt="">
    <h1 class="p-name">The Academy of Martial Arts<br>& Personal Development</h1>
    <address>
      <button class="contact-show" aria-hidden="true">Contact Us</button>
      <div class="contact-content" hidden>
        <div>
          <span class="p-street-address">440 Oakland Street</span>
          <span class="p-locality">Manchester</span>,
          <span class="p-region">CT</span>
          <span class="p-postal-code">06042</span>
        </div>
        <div>
          <a class="p-tel" href="tel:8606467993">860-646-7993</a> - 
          <span class="u-url">www.TheAcademy.us</span> - 
          <a class="u-email" href="mailto:masterwaldron@gmail.com">MasterWaldron@gmail.com</a>
        </div>
      </div>
    </address>
	</header>
	<div class="content-wrap">
  <nav class="menu">
    <button class="menu-toggle">☰ Menu</button>
    <ul>
      <li><a href="index.html">Home</a></li>
			<li><a href="about-us.html">About Us</a></li>
			<li><a href="programs-and-schedules.html">Programs & Schedules</a></li>
			<li><a href="staff.html">Staff</a></li>
			<li><a href="testimonials-and-pictures.html">Testimonials & Pictures</a></li>
			<li><a href="contact-us-and-directions.html">Contact Us & Directions</a></li>
    </ul>
	</nav>